@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-lora: "Lora", serif;
}

.font-playfair { font-family: 'Playfair Display', serif; }
.font-lora { font-family: 'Lora', serif; }

.link-underline {
  position: relative;
  display: inline-block;
}
.link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.link-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
